@import "tailwindcss";

:root {
  --color-primary: #55ACEE;
  --background: #010101;
  --foreground: #ffffff;
  --secondary: #828282;
  --text-secondary: #828282;
}

@theme inline {
  --font-rubik: var(--font-rubik);
  --color-primary: var(--color-primary);
  --color-secondary: var(--secondary);
  --color-text-secondary: var(--text-secondary);
  --background: var(--background);
  --secondary: var(--secondary);
  --foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark mode */
  }
}

body {
  background: var(--background);
  font-family: var(--font-rubik);
  color: var(--foreground);
}
